@import "@/shared/styles/mixins";

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    color: #171717;

    .container {
        width: 100%;
        padding: 0 16px;

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 47px;
            align-items: center;

            .nav {
                display: flex;
                flex-direction: row;
                gap: 24px;
            }

            .tel {
                p {
                    color: #979797;
                }

                span {
                    color: #171717;
                    cursor: pointer;

                    &:hover {
                        color: #4B5FA5;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 107px;
            align-items: center;

            .logo {
                width: 114px;
                text-align: left;

                a {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 900;
                    font-size: 25px;
                    letter-spacing: 0.11em;
                    line-height: 29px;
                }
            }

            .searchBar {
                width: 541px;
                height: 44px;
                border-radius: 12px;
                background-color: #FBFBFB;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 13px;
                border: 1px solid #EDF1FD;

                input {
                    background-color: transparent;
                    padding-left: 7px;
                    width: 90%;
                    color: #98949E;
                    height: 100%;

                    &::placeholder {
                        color: #98949E;
                        font-size: 15px;
                    }
                }
            }

            .menu {
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 24px;

                    li a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;

                        &:hover {
                            color: #4B5FA5;
                        }
                    }

                    .dividor {
                        width: 24px;
                        height: 0px;
                        opacity: 0.6;
                        border: 1px solid #D3D3D3;
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .hline {
            position: absolute;
            border-bottom: 1px solid #F7F1FE;
            width: 100%;
            left: 0;
        }

        a:hover {
            color: #4B5FA5;
        }

        .openBurger {
            border: 2px solid #F7F1FE;
            height: 44px;
            width: 44px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            gap: 2px;

            span { 
                width: 18px;
                height: 2px;
                background-color: #4B5FA5;
                border-radius: 10px;
            }
        }   
    }
}

