* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #fcfcfc;
  width: 100%;
  margin: 0;
  border-bottom: 2px solid grey;

  .container {
    width: 100%;
    padding: 48px 15px 12px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #98949e;
        margin-bottom: 32px;
      }

      ul {
        width: 150px;
        display: flex;
        flex-direction: column;

        li {
          display: flex;
          text-align: left;
          margin-bottom: 20px;

          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #171717;

          .linkTo {
            display: flex;
            flex-direction: row;

            div {
              width: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.testIcon {
  color: #4f70e2;

  &:hover {
    color: red;
  }
}
