@import "@/shared/styles/mixins";
@import "@/shared/styles/vars";


.tags {
    width: 100%;
    padding: 32px 0 0 0;
    @include flex-row(flex-start);
    flex-wrap: wrap;
    gap: 8px;

    .item {
        padding: 8px 16px;
        background-color: #EDF1FD;
        @include font-default(400, 13px, 15.6px, #4B5FA5);
        border-radius: 12px;
        cursor: pointer;
    }

    .itemActive {
        background-color: #4B5FA5;
        color: white;
    }
}