@import "@/shared/styles/mixins";


.main {
    .container {
        @include flex-col(center, center);
    }

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 8px;
        padding: 15px;
    }

    .button {
        width: 152px;
        height: 44px;
        align-self: center;
        @include font-default(400, 14px, 150%, white);
    }
}
