.root {
    .wrap {
        width: 100%;
        padding-bottom: 24px;
    }

    .wrapContent {
        margin-bottom: 65px;
        color: #171717;
        line-height: 22px;
        
        strong {
            font-weight: 600;
            display: inline-block;
            padding-bottom: 16px;
        }
    }
}