@import '@/shared/styles/mixins';

.root {
    width: 100%;
    height: 576px;
    background: #E5E5E5;
    padding-top: 110px;

    .contant {
        width: 316px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .title {
            margin-bottom: 28px;
            @include font-default(700,20px,24px,#181818);
        }

        .input {
            width: 100%;
            height: 44px;
            background: #FFFFFF;
            border: 1px solid #F7F1FE;
            border-radius: 12px;
            padding: 0 16px;
            @include font-default(400,14px,21px,#171717);

            &::placeholder {
                @include font-default(400,14px,21px,#98949E);
            }
        }


        .formGroup {
            .invalidFeedback {
                margin-top: 2px;
                min-height: 15px;
                height: auto;
                padding: 0px 10px;
                @include flex-row(flex-start, center);
                @include font-default(400, 13px, 15.6px, #E31B4B);
            }
        }

        .button {
            width: 100%;
            height: 44px;
            @include font-default(400,14px,21px,#fff);
        }

        .link {
            margin-top: 20px;
            text-align: center;
            @include font-default(400,14px,21px,#4B5FA5);

            &:hover {
                color: #1038c8;
            }
        }

        .wrapPhone {
            display: flex;
            flex-direction: row;

            .flag {
                width: 105px;
                height: 44px;
                background-color: #fff;
                border-radius: 12px 0 0 12px;
                padding-top: 5px;
                outline: none;
                
                button {
                    border: none;
                }
            }

            .phone {
                border-radius: 0 12px 12px 0;

                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

        .error {
            border: 1px solid #E31B4B;
            border-radius: 12px;
        }
    }
}