@import "@/shared/styles/mixins";

.root {
    .top {

        .begin {
            @include font-default(600, 18px, 26px, #181818);
            margin-right: 24px;
        }
        .end {
            @include font-default(600, 18px, 26px, #181818);
        }
    }
    .middle {
       
        .wrap {
            margin-top: 20px;
            display: flex;
            gap: 16px;
            justify-content: flex-start;
            align-items: center;
        }
    }
}
.span {
    @include font-default(400, 15px, 22px, #98949E)
}
