@import "@/shared/styles/mixins";
@import "@/shared/styles/vars";


.help {
    background-color: #E5E5E5;

    .container {
        padding: 24px 15px 81px;
        @include flex-row(space-between);
    }
}


@media (max-width: $width-xl) {
    .help {
        .container {
            flex-direction: column;
            gap: 24px;
        }
    }
}