.root {
    width: 100%;
    border-radius: 12px;
}

.miniSlider {
    margin: 12px 0 24px;
}

.sketch {
    width: 90px;
    height: 60px;
    border-radius: 12px;
    opacity: .6;
}

.active {
    opacity: 1;
}