.root {
    width: 668px;
    border-radius: 12px;
}


// .miniSlider {
//     width: 100%;
//     height: 60px;
//     margin: 12px 0;
//     display: flex;
//     gap: 12px;
//     justify-content: flex-start;
//     overflow-x: scroll;

//     &::-webkit-scrollbar,
//     &::-webkit-scrollbar-thumb {
//         width: 26px;
//         border-radius: 13px;
//         background-clip: padding-box;
//         border: 10px solid transparent;
//     }

//     &::-webkit-scrollbar-thumb {
//         box-shadow: inset 0 0 0 10px;
//     }

//     .slide {
//         width: 90px;
//         height: 60px;
//         border-radius: 12px;
//     }


//     .slideActive {
//         border: 10px solid red;
//     }
// }
.sketch {
    width: 90px;
    height: 60px;
    border-radius: 12px;
}