.accordion {
    width: 924px;
    list-style: none;
    margin: 0;
    padding: 24px 16px 8px;
    background: #ffffff;
    border-radius: 16px;

    @media (max-width: 1200.98px) {
        width: 100%;
    }

    h2 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #181818;
        margin-bottom: 16px;
    }
}
