@import "@/shared/styles/mixins";
@import "@/shared/styles/vars";

.root {
    @include flex-col();
    @include font-default(400, 14px, 21px, #171717);
    width: 100%;
    padding: 24px 26px 101px 26px;
    gap: 24px;

    .mainInfo {
        @include flex-row();
        gap: 24px;

        .text {
            @include flex-col();
            gap: 16px;
            width: 744px;

            .creatorName {
                font-weight: 700;
                font-size: 24px;
            }

            .description {
                font-size: 14px;
                line-height: 150%;
            }
        }

        img {
            width: 200px;
            border-radius: 12px;
        }
    }

    .contacts {
        @include flex-col();
        gap: 24px;

        .contactsText {
            @include flex-col();
            gap: 12px;

            h2 {
                font-weight: 700;
                font-size: 24px;
            }
                        
            p {
                font-size: 14px;
                width: 852px;
            }
        }

        .contactsDetails {
            @include flex-row();
            gap: 48px;
                    
            ul {
                @include flex-col();
                gap: 16px;

                li {
                    @include flex-row();
                    gap: 9px;
                    font-size: 15px;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        color: #4B5FA5;
                    }

                    svg { 
                        color: #4F70E2;
                        width: 20px;
                    }
                }
            }

            .dividor {
                height: 178px;
                width: 1px;
                background: #EDF1FD;
            }

            .secondCol {
                @include flex-col();
                gap: 24px;
                font-size: 15px;

                div {
                    @include flex-col();
                    gap: 8px;

                    svg { 
                        color: #4F70E2;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        cursor: pointer;

                        &:hover {
                            color: #4B5FA5;
                        }
                    }
                }
            }
        }
    }

    .cardsWrapper {
        @include flex-col();

        h2 {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 12px;
        }
    }

    .cards {
        @include flex-row();
        flex-wrap: wrap;
        gap: 8px;
    }

    @media (max-width: $width-xl) {
        .contacts {
            .contactsText {
                p {
                    width: 100%;
                }
            }

            .mapResponsive {
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
                height: 0;
                margin-top: 24px;

                iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }
        }
    }
    
    @media (max-width: $width-lg) {
        .contacts {
            .contactsDetails { 
                flex-direction: row;
                flex-wrap: wrap;
                gap: 30px;

                .dividor {
                    display: none;
                }
            }
        }
    }

    @media (max-width: $width-md) {
        .mainInfo { 
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            margin-top: 20px;
        }

        .radioWrapper {
            display: flex;
            justify-content: center;
        }
    }

    @media (max-width: $width-sm) {
        padding: 0 15px;
        gap: 30px;

        .mainInfo { 
            justify-content: center;
            gap: 18px;

            .text {
                text-align: justify;
            }
        }
    }
}