@import "@/shared/styles/mixins";

.root {
    width: 56px;
    height: 56px;
    border-radius: 12px;
    background: #EDF1FD;
    @include center-element();

    .inner {
        width: 20px;
        height: 18px;
    }
}
