@import "@/shared/styles/mixins";


.accordionItem {
    border: 1px solid #D4E3FF;
    border-radius: 16px;
    margin-bottom: 16px;
}

.accordionItemBtn {
    width: 100%;
    @include flex-row(unset, center);
    padding: 20px 16px;
    background-color: white;
    cursor: pointer;
    border-bottom: none;
    border-radius: 16px;
    @include font-default(700, 15px, 150%, black);
}

.accordionItemBtn::after {
    content: "";
    flex-shrink: 0;
    width: 15px;
    height: 10px;
    margin-left: auto;
    background-image: url("@/assets/icons/accordionArrow.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: transform 0.2s ease-in-out;
}

.active .accordionItemBtn::after {
    transform: rotate(-180deg);
}

.accordionItemContainer {
    transition: height 0.2s ease-in-out;
    overflow: hidden;
}

.accordionItemContent {
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    @include font-default(400, 14px, 150%, #181818);
}