@import "@/shared/styles/mixins";
@import "@/shared/styles/vars";


.header {
    background-color: white;
    @include font-default(400, 15px, 18.15px, #171717);

    .hLine {
        position: absolute;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #F7F1FE;
    }

    a:hover {
        color: #4B5FA5;
    }


    .container {
        width: 100%;
        padding: 0 16px;

        .navTop {
            height: 42.57px;
            @include flex-row(space-between, center);

            .links {
                @include flex-row();
                gap: 24px;
            }

            .tel {
                color: #98949E;

                a {
                    font-weight: 500;
                    color: #171717;
                    cursor: pointer;

                    &:hover {
                        color: #4B5FA5;
                    }
                }
            }
        }

        .bottom {
            height: 108px;
            @include flex-row(space-between, center);
            gap: 15px;

            .logo {
                width: 114px;
                text-align: left;

                a {
                    @include font-face("Raleway", 900, 25px, 29.35px, black);
                    letter-spacing: 0.11em;
                }
            }

            .menu {
                @include flex-row(space-between, center);
                gap: 24px;

                .menuItem a {
                    @include flex-row(unset, center);
                    gap: 10px;

                    &:hover {
                        color: #4B5FA5;

                        svg * {
                            stroke: #4B5FA5;
                            stroke-width: 1.2;
                        }
                    }
                }

                .divider {
                    width: 24px;
                    height: 0;
                    opacity: 0.6;
                    border: 1px solid #D3D3D3;
                    transform: rotate(90deg);
                }
            }
        }
    }
}



@media (max-width: $width-lg) {
    .header {
        .container {
            .bottom {
                .menu {
                    gap: 0;
                }
            }
        }
    }
}