@import "@/shared/styles/mixins";
@import "@/shared/styles/vars";


.root {
    width: 100%;
    height: 64px;
    padding: 3px 16px;

    .hLine {
        position: absolute;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #F7F1FE;
    }

    .header {
        @include flex-row(space-between, center);

        .logo {
            width: 86px;
            @include font-face("Raleway", 900, 25px, 29.35px, black);
            text-align: left;
            letter-spacing: 0.11em;
        }
    }

    .search {
        position: fixed;
        top: 65px;
        left: 0;
        z-index: 15;
        width: 100vw;
        height: 100vh;
        @include flex-row(center);
        background-color: rgba(0, 0, 0, 0.3);

        .inputWrap {
            margin-top: 12px;
            width: 90%;
            height: 44px;
            @include flex-row(center, center);
            padding: 10px 14px;
            background-color: #F8F8F8;
            border: 1px solid #F8F8F8;

            input {
                width: 100%;
                height: 100%;
                background-color: #F8F8F8;
                border: 0;
                @include font-default(16px, 400, 19.5px, #393939);

                &::placeholder {
                    @include font-default(16px, 400, 19.5px, #858F9B);
                }
            }
        }
    }
}
